<div id="main">

    <div id="box">

        <div class="login-form">

       <form [formGroup]="emailForm" (ngSubmit)=" resetPassword()" class="box2">

        <h2>Enter Email</h2> <hr>

       

        <div id="input">

        

          <i class="ri-user-line"></i><input type="text" placeholder="Enter email"  name="email" formControlName="email"><br>
          <i class="ri-user-line"></i><input type="password" placeholder="Enter new password"  name="password" formControlName="password"><br>


        </div><hr>

       

         

        <button type="submit">Validate</button>

        </form>

        </div>

        <a routerLink="/home"> back to home</a>

         

    </div>

</div>