ag-grid-angular{
    margin-left: 20%;
    margin-top: 40px;
}
a{
    margin-left: 45%;
}

// .ag-grid.css .ag-header-cell-label{
//     font-size: large;
// }
// // Set the colors to blue and amber
// $active: #E91E63; // pink-500 from https://www.materialui.co/colors
// // Import the ag-Grid balham theme
// @import '~ag-grid/src/styles/ag-theme-balham';
