<!-- <table border="1">
    <tr>
        <th>Id</th>
        <th>House number</th>
        <th>Owner name</th>
    </tr>
    <tr *ngFor = "let item of data">
        <td>{{item.owner_id}}</td>
        <td>{{item.hn}}</td>
        <td>{{item.owner_name}}</td>
        <td><button>Edit</button></td>
    </tr>
</table> -->
<div #div>
    <ag-grid-angular #grid (gridReady)="onGridReady($event)" style="width: 802px; height: 500px"
    class="ag-theme-balham" [rowData] = "rowData" 
    [columnDefs]="columnDefs" 
    [frameworkComponents] = "frameworkComponents"></ag-grid-angular>
</div><br><br>
<a routerLink="/survey">Back to survey</a>

<!-- <div #modal class="modal-display">
    <form>
        <label for="Owner">Owner</label>
        <input type="text" name="Owner" id="">
    </form>
</div> -->
    



