<div id="main">

    <div id="box">

        <div class="login-form">

       <form [formGroup]="loginForm" (ngSubmit)=" getData()" class="box2">

        <h2>LOGIN</h2> <hr>

       

        <div id="input">

        

          <i class="ri-user-line"></i><input type="text" placeholder="userame"  name="username" formControlName="username"><br>

          <i class="ri-lock-fill"></i><input type="password" placeholder="Password" name="password" formControlName="password">

        </div><hr>

       

         

        <button type="submit">login</button>
        <a routerLink="/forgot-passowrd">Forgot Password</a>

        </form>

        

        </div> <br>

        <a routerLink="/home"> back to home</a>

         

    </div>

</div>